<!doctype html>
<html>
  <head> 
  <!-- this is a comment -->
    <meta charset="utf-8"> 
    <title>HTML/CSS Introduction</title>
  </head>
  <body> 
    <header>My header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/cats">Cats</a>
      <a href="/dogs">Dogs (Cats 2)</a>
      <a href="/ninja">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>
    <h1>Cats Rule!</h1>
    <article>
      <h2>I love cats!</h2>
      <p>I love every kind of cat.</p>
      <img src ="https://blog.compete.com/wp-content/uploads/2013/04/cat-with-mouse.jpg">
      <img src = "/images/funnycat.jpg">
      <a href="http://happytaleshumane.com/">Click here to take your gross dog to puppy land: Happy Tales website</a>
      <iframe width="560" height="315" src="//www.youtube.com/embed/wsJlfR-kXPo" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>
