<!doctype html>
<html>
  <head> 
  <!-- this is a comment -->
    <meta charset="utf-8"> 
    <title>HTML/CSS Introduction</title>
  </head>
  <body> 
    <header>My header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/cats">Cats</a>
      <a href="/dogs">Dogs (Cats 2)</a>
      <a href="/ninja">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>
    <h1>Dogs (Cats 2)</h1>
    <article>
      <h2>We don't acknowledge dogs.</h2>
      <p></p>
      <img src ="http://www.infinitecat.com/cat-tales/pics/cats-rule.jpg">
      <img src = "http://big.assets.huffingtonpost.com/killanimals.gif">
      <a href="http://happytaleshumane.com/">Click here to trade your dog for an awesome cat! Happy Tales website</a>
      <iframe width="560" height="315" src="//www.youtube.com/embed/wsJlfR-kXPo" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>
