<!doctype html>
<html>
  <head> 
  <!-- this is a comment -->
    <meta charset="utf-8"> 
    <title>HTML/CSS Introduction</title>
  </head>
  <body> 
    <header>My header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/cats">Cats</a>
      <a href="/dogs">Dogs (Cats 2)</a>
      <a href="/ninja">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>
    <h1>My header</h1>
    <article>
      <h2>Toy Story</h2>
      <p>Toy Story is a really funny movie!</p>
      <img src ="http://www.picturesque.biz/images/gallery/toystory_activitycenter/pizza_planet.jpg">
      <a href="http://toystory.disney.com"> Click to go to Toy Story site</a>
      <iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/xuedmz" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/xuedmz_toy-story-partysaurus-rex-full-short_fun" target="_blank">Toy Story: Partysaurus Rex Full Short</a> <i>by <a href="http://www.dailymotion.com/Filmclips" target="_blank">Filmclips</a></i>
      <h2>Article Header</h2>
      <p>This is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>
