<!doctype html>
<html>
  <head> 
  <!-- this is a comment -->
    <meta charset="utf-8"> 
    <title>HTML/CSS Introduction</title>
  </head>
  <body> 
    <header>My header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/cats">Cats</a>
      <a href="/dogs">Dogs (Cats 2)</a>
      <a href="/ninja">Ninjas Page</a>
      <a href="/pirates">Pirates Page</a>
    </nav>
    <h1>Ninja Cats!</h1>
    <article>
      <h2>Watch out for the ninja cats.</h2>
      <img src ="/images/ninjacat.jpg">
      <img src ="/images/ninjacat2.jpg">
      <img src ="/images/ninjacat4.jpg">
      <img src ="/images/ninjacat5.jpg">
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>
